[Unit]
Description=OpenVPN client for %i  
After=network-online.target  
Wants=network-online.target

[Service]
Type=forking  
;User=nobody  
;Group=nobody 
ExecStart=/usr/sbin/openvpn --daemon --config /etc/openvpn/client/%i.conf  
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
Restart=on-failure


[Install]
WantedBy=multi-user.target
Alias=openvpn.target

